body {
  font-family: arial;
  text-align: center;
}

h1 {
  color: rgb(123, 63, 0);
  font-family: cursive;
}

.butter {

}

.brown-sugar{

}

.sugar {

}

.vanilla {

}

.eggs {

}

.milk {

}

.flour {

}

.baking-soda {

}
